@use "./base.scss";

// put your custom CSS here!

.article-title-container {
  margin-bottom: 1.5rem;

  .contributors {
    font-size: 0.85rem;
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .label {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-size: 0.75rem;
    }

    .contributor-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 0.4rem;

      li {
        background: var(--lightgray);
        padding: 0.1rem 0.5rem;
        border-radius: 4px;
        color: var(--dark);
      }
    }
  }
}