@use "./base.scss";

// put your custom CSS here!

.article-title-container {
  margin-bottom: 1.5rem;

  .frontmatter-property {
    font-size: 0.85rem;
    color: var(--gray);
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid var(--gray);
    padding: 0.25rem 0.5rem;

    .label {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-size: 0.75rem;
    }

    .value {
      font-weight: bold;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 0.4rem;
      font-weight: bold;

      li {
        background: var(--lightgray);
        padding: 0.2rem 0.4rem;
        border-radius: 4px;
        color: var(--dark);
        line-height: 1rem;
      }
    }
  }
}